:root {
  --spacing: 10px;
  --base: black;
  --blur: 0px;
}
img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}
.h1 {
  color: var(--base);
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 50px;
}
.modify {
  margin-bottom: 50px;
}
input {
  width: 100px;
}
