.outer {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  border: 2px solid white;
  margin: 50px auto;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}
.inner {
  height: 100%;
  width: 100%;
  transform: translateY(-3px);
}
.hand {
  height: 6px;
  width: 50%;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
